<h3>ProspectoPage</h3>

@using System.ComponentModel.DataAnnotations

<h3>Formulario de Prospecto</h3>

<EditForm Model="@prospecto" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="id" class="form-label">ID</label>
        <InputNumber @bind-Value="prospecto.Id" id="id" class="form-control" />
        <ValidationMessage For="@(() => prospecto.Id)" />
    </div>

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <InputText @bind-Value="prospecto.Nombre" id="nombre" class="form-control" />
        <ValidationMessage For="@(() => prospecto.Nombre)" />
    </div>

    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <InputText @bind-Value="prospecto.Celular" id="celular" class="form-control" />
        <ValidationMessage For="@(() => prospecto.Celular)" />
    </div>

    <div class="mb-3">
        <label for="correoElectronico" class="form-label">Correo Electrónico</label>
        <InputText @bind-Value="prospecto.CorreoElectronico" id="correoElectronico" class="form-control" />
        <ValidationMessage For="@(() => prospecto.CorreoElectronico)" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</EditForm>

@code {
    private ProspectoBase prospecto = new ProspectoBase();

    private async Task SubmitForm()
    {
        // HttpClient client = new HttpClient();
        // var response = client.PostAsync
    }
}

@code {
    [Parameter] public long ProspectoId { get; set; }
}
