@page "/prospectos"
@using MauiProspecto.Services
@inject NavigationManager navigationManager
@inject ApiService client;
@inject IJSRuntime js

<h3>Prospectos</h3>
<br />
@if (load)
{
    <MauiProspecto.Components.Views.LoaderView></MauiProspecto.Components.Views.LoaderView>
}
else
{
    <button class="btn btn-primary btn-sm" @onclick="() => IrAProspecto(0)"> <i class="bi bi-person-fill-add"></i> Nuevo Prospecto </button>
    <br />
    <br />
    <MauiProspecto.Components.Views.CardView>
        @foreach (var prospecto in prospectos)
        {
            <MauiProspecto.Components.Views.CardItemView Title="@prospecto.Nombre" Event="@(()=> IrActividades(prospecto.Id))">
                <div class="float-start" style="width:max-content">
                    <small><b>Cel:</b> @prospecto.Celular <b>E-mail:</b> @prospecto.CorreoElectronico</small>
                </div>
                <div class="float-end" style="width:max-content">
                    <a title="Borrar" width="50px" height="50px" class="text-danger" href="javascript:void(0)" @onclick:stopPropagation="true" @onclick="async () => await BorrarProspecto(prospecto.Id)"><i class="bi bi-trash-fill"></i> </a>
                    <a title="Editar" width="50px" height="50px" class="text-warning" href="javascript:void(0)" @onclick:stopPropagation="true" @onclick="@(()=> IrAProspecto(prospecto.Id))"><i class="bi bi-pencil-square"></i> </a>
                </div>
            </MauiProspecto.Components.Views.CardItemView>
        }
    </MauiProspecto.Components.Views.CardView>
}



@code {
    private List<ProspectoBase> prospectos = [];
    int page = 1;
    int groups = 1;
    int size = 12;
    bool load = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Load();
        }
    }
    async Task Load()
    {
        load = true;
        StateHasChanged();
        try
        {

            var response = await client.GetAsync<Common.Result.GetProspectosResult>($"Prospecto/GetProspectos?page={page}&size={size}");
            if (response!.Result == ResultType.Success)
            {
                prospectos = response.Prospectos;

            }
            else
            {
                await js.AlertAsync(response.Message);
            }
        }
        catch (Exception ex)
        {
            await js.AlertAsync(ex.Message);
        }
        load = false;
        StateHasChanged();
    }
    async Task BorrarProspecto(long prospectoId)
    {
        load = true;
        StateHasChanged();

        try
        {
            var confirm = await js.ConfirmAsync($"¿Desea eliminar el prospecto?");
            if (confirm)
            {
                var response = await client.GetAsync<Common.Result.DeleteProspectoResult>($"Prospecto/DeleteProspecto?prospectoId={prospectoId}");

                if (response!.Result == ResultType.Success)
                {
                    await js.AlertAsync("Prospecto eliminado correctamente");
                    await Load();
                }
                else
                {
                    await js.AlertAsync(response.Message);
                }

            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            await js.AlertAsync("Error");
        }

        load = false;
        StateHasChanged();
    }
    void IrActividades(long prospectoId)
    {
        navigationManager.NavigateTo($"/actividades/{prospectoId}");
    }
    void IrAProspecto(long prospectoId)
    {
        navigationManager.NavigateTo($"/prospecto/{prospectoId}");
    }
}